<div class="sidebar">
  <a class="main-tab uk-icon-large uk-icon-hover uk-icon-home"></a><br>
  <% if(role.name === "admin") { %>
  <a class="skin-tab uk-icon-large uk-icon-hover uk-icon-dollar"></a><br>
  <a class="stat-tab uk-icon-large uk-icon-hover uk-icon-bar-chart"></a>
  <a class="bot-tab uk-icon-large uk-icon-hover uk-icon-flash"></a>
  <% } %>
  <a class="sidebar-tab history-tab uk-icon-large uk-icon-hover uk-icon-history"></a>
</div>
